<a href="https://colab.research.google.com/github/Shivam00242/python-class-cbitss/blob/main/dictonaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# dictonaries

emp={
    "name": "shivam",
    "age": 21,
    "salary": 150000
}

print(emp['age'])

21

In [7]:
# .item() to allow both key and value
# .values() allow only key
# .key() allow onle value

emp_1={
    "name":['shivam','robin','parth'],
    "age":[21,20,21],
    "salary":[150000,80000,90000]

}

for key , values in emp_1.items():
  print(f"{key} is {values}",[i])


# for key  in emp_1.keys():
#   print(f"{key}")


# for values in emp_1.values():
#   print(f"{values}")

name is ['shivam', 'robin', 'parth'] [('item', ['pizza', 'pasta', 'chicken', 'roti', 'cold drink'])]
age is [21, 20, 21] [('item', ['pizza', 'pasta', 'chicken', 'roti', 'cold drink'])]
salary is [150000, 80000, 90000] [('item', ['pizza', 'pasta', 'chicken', 'roti', 'cold drink'])]

In [ ]:
emp_1={
    "name":['shivam','robin','parth'],
    "age":[21,20,21],
    "salary":[150000,80000,90000]

}
sum=0
for i in emp_1["salary"]:
  sum=sum+i

#  tp add new key and value in dictonaries
emp_1['gender']=['m','m','m']

# to delete key
del emp_1['gender']


print(emp_1)
print(sum)

{'name': ['shivam', 'robin', 'parth'], 'age': [21, 20, 21], 'salary': [150000, 80000, 90000]}
320000

In [18]:
menu={
    "item" :["pizza","pasta","chicken","roti","cold drink"],
    "price":[256,399,459,10,39],
    "discount":[21,22,32,11,7],
    "qty":[1,1,1,7,3]
     }
sum=0
dis=0
print("_________bill________")
for i in range (len(menu["item"])):
 per_item_discount=(menu["price"][i]*menu["discount"][i])/100
 item_total=(menu["price"][i]-per_item_discount)*menu["qty"][i]
 print(f"{menu["item"][i]}={menu["price"][i]}")
 print(f"discount on {menu["item"][i]}={menu["discount"][i]}%")
 print(f"qty ={menu["qty"][i]}")
 print("________________")
 print(f"item total =",item_total)
 print("________________")
 sum=sum+item_total
print("-----------------")
print("total bill=",sum)
print("----------------")

_________bill________
pizza=256
discount on pizza=21%
qty =1
________________
item total = 202.24
________________
pasta=399
discount on pasta=22%
qty =1
________________
item total = 311.22
________________
chicken=459
discount on chicken=32%
qty =1
________________
item total = 312.12
________________
roti=10
discount on roti=11%
qty =7
________________
item total = 62.300000000000004
________________
cold drink=39
discount on cold drink=7%
qty =3
________________
item total = 108.81
________________
-----------------
total bill= 996.69
----------------

In [24]:
sales={
"c_name":["shivam","robin","aman","parth","aryan","shubham","saksham"],
"c_id":['101','102','103','104','105','106','107'],
"product":["shirt","t-shirt","iphone 17","samsung s25 ultra","shirt","t-shirt","iphone 17"],
"price":[2500,1500,150000,170000,1200,1500,149999],
"state":["hp","pb","hr","hr","hp","pb","hp"],
"gender":["m","f","f","m","m","f","m"]
}

unique_state=[]
state_wise_sale=[]
for i in sales["state"]:
  if i not in unique_state:
    unique_state.append(i)
    state_wise_sale.append(0)

for i in range(len(sales["state"])):
  index=unique_state.index(sales["state"][i])
  state_wise_sale[index]+=sales["price"][i]

print(state_wise_sale)

[153699, 3000, 320000]