<a href="https://colab.research.google.com/github/Shivam00242/python-class-cbitss/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
item=["oil","salt","sugar","tea","milk"]
price=[250,50,60,95,45]
for i in range(5):
  print()

In [ ]:
for i in range(1,11):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
a=11
for i in range(1,11):
  print(a-i)
  i+=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
name="shivam"
for i in range(1,6):
  print(name)

shivam
shivam
shivam
shivam
shivam

In [ ]:
for i in range(1,21):
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(1,21):
  if i % 2 != 0:
   print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range (1,11):
  sqr=i*i
  i+=1
  print(sqr)

1
4
9
16
25
36
49
64
81
100

In [ ]:
n=int(input("enter any number:"))
for i in range(1,11):
  table=n*i
  print(n,"x",i,"=",table)
  i+=1

enter any number:10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
num=int(input("enter any number:"))
for i in range(1,n):
  if

In [ ]:
sum=0
for i in range(1,51):
  if i %2 ==0:
    sum=i+sum
    i+=1
print(sum)

650

In [ ]:
fact=1
for i in range(1,6):
  fact=i*fact
  i+=1
print(fact)

120

In [ ]:
num=1
for i in range(1,101):
  if i%3==0 and i%5==0:
    num=num+1
print(num)

7

In [ ]:

for i in range(5,0,-1):
  print("*"*i)

*****
****
***
**
*

In [ ]:
# 1. Grade Evaluation (Nested if)

# Problem:
# Input marks for 5 subjects.

# If the average ≥ 90 → Grade A

# If 80–89 → Grade B

# If 70–79 → Grade C

# Else → Fail
# If any subject is < 35, directly print “Fail” even if the average is high.

# Hint: Use nested if inside average check.

hindi=int(input("enter the marks of hindi:"))
english=int(input("enter the marks of english:"))
maths=int(input("enter the marks of maths:"))
science=int(input("enter the marks of science:"))
sst=int(input("enter the marks of sst:"))
average=(hindi+english+maths+science+sst)/5
if average>=90 and average<=100:
  print("Grade A")
elif average>=80 and average<=89:
  print("Grade B")
elif average>=70 and average<=79:
  print("Grade B")
else:
  print("fail")

enter the marks of hindi:50
enter the marks of english:80
enter the marks of maths:90
enter the marks of science:100
enter the marks of sst:100
Grade B

In [ ]:
# 2. Triangle Type Checker

# Problem:
# Input three sides of a triangle.
# Check:

# If valid triangle (sum of any two sides > third).

# If valid → check if it’s equilateral, isosceles, or scalene.

# Hint: Use nested if after checking validity.
side1=int(input("enter 1st side:"))
side2=int(input("enter 2nd side:"))
side3=int(input("enter 3er side:"))
if side1+side2 > side3 :
  print("valide triangle")
  if side1==side2==side3:
    print("equilateral triangle")
  elif side1==side2 or side2==side3 or side3==side1:
    print("isosceles triangle")
  else:
    print("scalene triangle")
else:
  print("not a validity triangal")

enter 1st side:4
enter 2nd side:5
enter 3er side:6
valide triangle
scalene triangle

In [ ]:
# 3. Leap Year or Century Year

# Problem:
# Input a year.
# Print whether it’s a leap year, a century year, both, or neither.

# Hint: A leap year is divisible by 4 but not 100, except if divisible by 400.
year=int(input("enter the year:"))
if year % 4==0 and year %100!=0 or year % 400 == 0:
    print("leap year")
else:
    print("not a leap year")

enter the year:2400
leap year

In [20]:
# 4. ATM Withdrawal

# Problem:
# Input:

# Withdrawal amount

# Account balance
# Rules:

# Amount must be multiple of 100

# Amount ≤ balance

# Bank charge ₹10 per transaction

# Print updated balance or reason for failure.
balance=1000000
withdrawal_amount=int(input("Enter the withdrawal amount:"))
charge=10
if withdrawal_amount % 100 == 0 and withdrawal_amount <= balance:
  remaining=balance-withdrawal_amount
  total_balance=balance-charge
  print("----------------------")
  print("withdrawal amount:",withdrawal_amount)
  print("bank charge per transaction:",charge)
  print("______________________")
  print("total balance",total_balance)
else:
  print("insficent balance")

Enter the withdrawal amount:10000
----------------------
withdrawal amount: 10000
bank charge per transaction: 10
______________________
total balance 999990

In [ ]:
# 9. Employee Bonus System

# Problem:
# Input employee salary and years of service.
# Rules:

# If service ≥ 10 years → 10% bonus

# If 6–9 years → 8%

# If 3–5 years → 5%

# Otherwise → No bonus
# If salary < ₹20,000 → Add 2% extra bonus.