<a href="https://colab.research.google.com/github/Shivam00242/python-class-cbitss/blob/main/pythonclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hi i am shivam")

hi i am shivam

In [ ]:
# CODE FOR BIO DATA
print("------bio data------")
print("NAME     :  SHIVAM")
print("AGE      :  21")
print("CLASS    :  PYTHON")
print("address  :  DHARAMSHALA (HP)")
print("MOBILE NO:  9418281719")
print("EMAIL    :  shivambhatt00242@gmail.com")
print("EDUCATION:  BCA GRADUATE")

------bio data------
NAME     :  SHIVAM
AGE      :  21
CLASS    :  PYTHON
address  :  DHARAMSHALA (HP)
MOBILE NO:  9418281719
EMAIL    :  shivambhatt00242@gmail.com
EDUCATION:  BCA GRADUATE

In [ ]:
Name="Shivam"
age= 21
address="dharamshala (HP)"
print(" My name is",Name,"my age is",age,"from",address)

 My name is Shivam 21 my age is 21 from dharamshala (HP)

In [ ]:
first_num=int(input("first number="))
second_num=int(input("second number="))
sum=first_num+second_num
sub=first_num-second_num
product=first_num*second_num
div=first_num/second_num
print("sum=",sum)
print("subtraction=",sub)
print("product=",product)
print("division=",div)

first number=500
second number=100
sum= 600
subtraction= 400
product= 50000
division= 5.0

In [ ]:
# 10% discount on grand total
item1="pizza"
item2="coke"
item3="chips"
item4="dal chawal"
item5="tanduri roti"
price_of_item1=250
price_of_item2=40
price_of_item3=20
price_of_item4=150
price_of_item5=80
print("      billu da dhaba      ")
print("__________bill___________")
print(item1,"=",price_of_item1)
print(item2,"=",price_of_item2)
print(item3,"=",price_of_item3)
print(item4,"=",price_of_item4)
print(item5,"=",price_of_item5)
print("---------------------------")
sum=price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5
discount=sum*(10/100)
print("Discount is =",discount)
print("total =",sum)
print("------------------------")
print("total amount to pay=",sum-discount)

      billu da dhaba
__________bill___________
pizza = 250
coke = 40
chips = 20
dal chawal = 150
tanduri roti = 80
---------------------------
Discount is = 54.0
total = 540
------------------------
total amount to pay= 486.0

In [16]:
# discount on each item
item1="pizza"
item2="coke"
item3="chips"
item4="dal chawal"
item5="tanduri roti"
price_of_item1=250
price_of_item2=40
price_of_item3=20
price_of_item4=150
price_of_item5=80
print("      billu da dhaba      ")
print("__________bill___________")
print(item1,"=",price_of_item1)
print(item2,"=",price_of_item2)
print(item3,"=",price_of_item3)
print(item4,"=",price_of_item4)
print(item5,"=",price_of_item5)
print("---------------------------")
sum=price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5
discount_item1=price_of_item1*(19/100)
discount_item2=price_of_item2*(5/100)
discount_item3=price_of_item3*(22/100)
discount_item4=price_of_item4*(15/100)
discount_item5=price_of_item5*(12/100)
print("Discount",item1, "is =",discount_item1)
print("Discount",item2, "is =",discount_item2)
print("Discount",item3, "is =",discount_item3)
print("Discount",item4, "is =",discount_item4)
print("Discount",item5, "is =",discount_item5)
total_discount=discount_item1+discount_item2+discount_item3+discount_item4+discount_item5
print("total discount is=",total_discount)
print("total =",sum)
print("------------------------")
print("total amount to pay=",sum-total_discount)
print("----------------------")
print("Delivery address: House no.3,Janta nagar,\n  \t \t  Punjab,100568")

enter item 1:coke
enter item 2:pizza
enter item 3:roti
enter item 4:dal
enter item 5:alu
      billu da dhaba
__________bill___________
coke = 250
pizza = 40
roti = 20
dal = 150
alu = 80
---------------------------
Discount coke is = 47.5
Discount pizza is = 2.0
Discount roti is = 4.4
Discount dal is = 22.5
Discount alu is = 9.6
total discount is= 86.0
total = 540
------------------------
total amount to pay= 454.0
----------------------
Delivery address: House no.3,Janta nagar,
  	 	  Punjab,100568

In [ ]:
# if total is more than 300 extra 5% discout
item1="pizza"
item2="coke"
item3="chips"
item4="dal chawal"
item5="tanduri roti"
price_of_item1=250
price_of_item2=40
price_of_item3=20
price_of_item4=150
price_of_item5=80
print("      billu da dhaba      ")
print("__________bill___________")
print(item1,"=",price_of_item1)
print(item2,"=",price_of_item2)
print(item3,"=",price_of_item3)
print(item4,"=",price_of_item4)
print(item5,"=",price_of_item5)
print("---------------------------")
sum=price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5
discount_item1=price_of_item1*(19/100)
discount_item2=price_of_item2*(5/100)
discount_item3=price_of_item3*(22/100)
discount_item4=price_of_item4*(15/100)
discount_item5=price_of_item5*(12/100)
print("Discount",item1, "is =",discount_item1)
print("Discount",item2, "is =",discount_item2)
print("Discount",item3, "is =",discount_item3)
print("Discount",item4, "is =",discount_item4)
print("Discount",item5, "is =",discount_item5)
total_discount=discount_item1+discount_item2+discount_item3+discount_item4+discount_item5
print("total discount is=",total_discount)
print("total =",sum)
print("------------------------")
grand_total=sum-total_discount
if grand_total > 300:
  discount_5=grand_total*(6/100)

  print("extra 6% dicount :",discount_5)
  print("total amount to pay :",grand_total-discount_5)
else:
  print("total amount to pay",grand_total)

      billu da dhaba
__________bill___________
pizza = 250
coke = 40
chips = 20
dal chawal = 150
tanduri roti = 80
---------------------------
Discount pizza is = 47.5
Discount coke is = 2.0
Discount chips is = 4.4
Discount dal chawal is = 22.5
Discount tanduri roti is = 9.6
total discount is= 86.0
total = 540
------------------------
extra 6% dicount : 27.24
total amount to pay : 426.76

In [17]:
item1=input("enter item 1:")
item2=input("enter item 2:")
item3=input("enter item 3:")
item4=input("enter item 4:")
item5=input("enter item 5:")

enter item 1:chips
enter item 2:coke
enter item 3:dal roti
enter item 4:tanduri roti
enter item 5:alu chole

In [20]:
item1=input("enter item 1:")
item2=input("enter item 2:")
price_item1=int(input("Enter the price of item 1:"))
price_item2=int(input("Enter the price of item 2:"))
print("-------------------------------")
print("total bill is :",price_item1+price_item2)

enter item 1:pizza
enter item 2:chips
Enter the price of item 1:562
Enter the price of item 2:40
-------------------------------
total bill is : 602

In [22]:
num_1=int(input("Enter the value of num 1 :"))
num_2=int(input("Enter the value of num 2 :"))
print("----------------------------")
print("addition of 2 number is:",num_1+num_2)
print("subtraction of 2 number is:",num_1-num_2)
print("division of 2 number is:",num_1/num_2)
print("product of 2 number is:",num_1*num_2)

Enter the value of num 1 :200
Enter the value of num 2 :100
----------------------------
addition of 2 number is: 300
subtraction of 2 number is: 100
division of 2 number is: 2.0
product of 2 number is: 20000