<a href="https://colab.research.google.com/github/Shivam00242/python-class-cbitss/blob/main/pythonclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hi i am shivam")

hi i am shivam

In [ ]:
# CODE FOR BIO DATA
print("------bio data------")
print("NAME     :  SHIVAM")
print("AGE      :  21")
print("CLASS    :  PYTHON")
print("address  :  DHARAMSHALA (HP)")
print("MOBILE NO:  9418281719")
print("EMAIL    :  shivambhatt00242@gmail.com")
print("EDUCATION:  BCA GRADUATE")

------bio data------
NAME     :  SHIVAM
AGE      :  21
CLASS    :  PYTHON
address  :  DHARAMSHALA (HP)
MOBILE NO:  9418281719
EMAIL    :  shivambhatt00242@gmail.com
EDUCATION:  BCA GRADUATE

In [ ]:
Name="Shivam"
age= 21
address="dharamshala (HP)"
print(" My name is",Name,"my age is",age,"from",address)

 My name is Shivam 21 my age is 21 from dharamshala (HP)

In [ ]:
first_num=int(input("first number="))
second_num=int(input("second number="))
sum=first_num+second_num
sub=first_num-second_num
product=first_num*second_num
div=first_num/second_num
print("sum=",sum)
print("subtraction=",sub)
print("product=",product)
print("division=",div)

first number=500
second number=100
sum= 600
subtraction= 400
product= 50000
division= 5.0

In [ ]:
item1="pizza"
item2="coke"
item3="chips"
item4="dal chawal"
item5="tanduri roti"
price_of_item1=250
price_of_item2=40
price_of_item3=20
price_of_item4=150
price_of_item5=80
print("      billu da dhaba      ")
print("__________bill___________")
print(item1,"=",price_of_item1)
print(item2,"=",price_of_item2)
print(item3,"=",price_of_item3)
print(item4,"=",price_of_item4)
print(item5,"=",price_of_item5)
print("---------------------------")
sum=price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5
discount=sum*(10/100)
print("Discount is =",discount)
print("total =",sum)
print("------------------------")
print("total amount to pay=",sum-discount)

      billu da dhaba
__________bill___________
pizza = 250
coke = 40
chips = 20
dal chawal = 150
tanduri roti = 80
---------------------------
Discount is = 54.0
total = 540
------------------------
total amount to pay= 486.0

In [6]:
item1="pizza"
item2="coke"
item3="chips"
item4="dal chawal"
item5="tanduri roti"
price_of_item1=250
price_of_item2=40
price_of_item3=20
price_of_item4=150
price_of_item5=80
print("      billu da dhaba      ")
print("__________bill___________")
print(item1,"=",price_of_item1)
print(item2,"=",price_of_item2)
print(item3,"=",price_of_item3)
print(item4,"=",price_of_item4)
print(item5,"=",price_of_item5)
print("---------------------------")
sum=price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5
discount_item1=price_of_item1*(19/100)
discount_item2=price_of_item2*(5/100)
discount_item3=price_of_item3*(22/100)
discount_item4=price_of_item4*(15/100)
discount_item5=price_of_item5*(12/100)
print("Discount",item1, "is =",discount_item1)
print("Discount",item2, "is =",discount_item2)
print("Discount",item3, "is =",discount_item3)
print("Discount",item4, "is =",discount_item4)
print("Discount",item5, "is =",discount_item5)
total_discount=discount_item1+discount_item2+discount_item3+discount_item4+discount_item5
print("total discount is=",total_discount)
print("total =",sum)
print("------------------------")
print("total amount to pay=",sum-total_discount)

      billu da dhaba
__________bill___________
pizza = 250
coke = 40
chips = 20
dal chawal = 150
tanduri roti = 80
---------------------------
Discount pizza is = 47.5
Discount coke is = 2.0
Discount chips is = 4.4
Discount dal chawal is = 22.5
Discount tanduri roti is = 9.6
total discount is= 86.0
total = 540
------------------------
total amount to pay= 454.0