<a href="https://colab.research.google.com/github/Shivam00242/python-class-cbitss/blob/main/smallproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# CODE FOR BIO DATA
print("------bio data------")
print("NAME     :  SHIVAM")
print("AGE      :  21")
print("CLASS    :  PYTHON")
print("address  :  DHARAMSHALA (HP)")
print("MOBILE NO:  9418281719")
print("EMAIL    :  shivambhatt00242@gmail.com")
print("EDUCATION:  BCA GRADUATE")

------bio data------
NAME     :  SHIVAM
AGE      :  21
CLASS    :  PYTHON
address  :  DHARAMSHALA (HP)
MOBILE NO:  9418281719
EMAIL    :  shivambhatt00242@gmail.com
EDUCATION:  BCA GRADUATE

In [ ]:
# 10% discount on grand total
item1="pizza"
item2="coke"
item3="chips"
item4="dal chawal"
item5="tanduri roti"
price_of_item1=250
price_of_item2=40
price_of_item3=20
price_of_item4=150
price_of_item5=80
print("      billu da dhaba      ")
print("__________bill___________")
print(item1,"=",price_of_item1)
print(item2,"=",price_of_item2)
print(item3,"=",price_of_item3)
print(item4,"=",price_of_item4)
print(item5,"=",price_of_item5)
print("---------------------------")
sum=price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5
discount=sum*(10/100)
print("Discount is =",discount)
print("total =",sum)
print("------------------------")
print("total amount to pay=",sum-discount)

      billu da dhaba
__________bill___________
pizza = 250
coke = 40
chips = 20
dal chawal = 150
tanduri roti = 80
---------------------------
Discount is = 54.0
total = 540
------------------------
total amount to pay= 486.0

In [ ]:
# discount on each item
item1="pizza"
item2="coke"
item3="chips"
item4="dal chawal"
item5="tanduri roti"
price_of_item1=250
price_of_item2=40
price_of_item3=20
price_of_item4=150
price_of_item5=80
print("      billu da dhaba      ")
print("__________bill___________")
print(item1,"=",price_of_item1)
print(item2,"=",price_of_item2)
print(item3,"=",price_of_item3)
print(item4,"=",price_of_item4)
print(item5,"=",price_of_item5)
print("---------------------------")
sum=price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5
discount_item1=price_of_item1*(19/100)
discount_item2=price_of_item2*(5/100)
discount_item3=price_of_item3*(22/100)
discount_item4=price_of_item4*(15/100)
discount_item5=price_of_item5*(12/100)
print("Discount",item1, "is =",discount_item1)
print("Discount",item2, "is =",discount_item2)
print("Discount",item3, "is =",discount_item3)
print("Discount",item4, "is =",discount_item4)
print("Discount",item5, "is =",discount_item5)
total_discount=discount_item1+discount_item2+discount_item3+discount_item4+discount_item5
print("total discount is=",total_discount)
print("total =",sum)
print("------------------------")
print("total amount to pay=",sum-total_discount)
print("----------------------")
print("Delivery address: House no.3,Janta nagar,\n  \t \t  Punjab,100568")

      billu da dhaba
__________bill___________
pizza = 250
coke = 40
chips = 20
dal chawal = 150
tanduri roti = 80
---------------------------
Discount pizza is = 47.5
Discount coke is = 2.0
Discount chips is = 4.4
Discount dal chawal is = 22.5
Discount tanduri roti is = 9.6
total discount is= 86.0
total = 540
------------------------
total amount to pay= 454.0
----------------------
Delivery address: House no.3,Janta nagar,
  	 	  Punjab,100568

In [ ]:
item1=input("enter item 1=")
price_of_item1=int(input("enter price of item 1="))
discount_item1=int(input("enter the discount of item 1="))
item2=input("enter item 2=")
discount_item2=int(input("enter the discount of item 2="))
price_of_item2=int(input("enter price of item 2="))
item3=input("enter item 3=")
price_of_item3=int(input("enter price of item 3="))
discount_item3=int(input("enter the discount of item 3="))
item4=input("enter item 4=")
price_of_item4=int(input("enter price of item 4="))
discount_item4=int(input("enter the discount of item 4="))
item5=input("enter item 5=")
price_of_item5=int(input("enter price of item 5="))
discount_item5=int(input("enter the discount of item 5="))
print("      billu da dhaba      ")
print("__________bill___________")
print(item1,"=",price_of_item1)
print(item2,"=",price_of_item2)
print(item3,"=",price_of_item3)
print(item4,"=",price_of_item4)
print(item5,"=",price_of_item5)
print("---------------------------")
sum=price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5
print("*////////////////////////////*")
discount_of_item1=price_of_item2*(discount_item1/100)
discount_of_item2=price_of_item2*(discount_item2/100)
discount_of_item3=price_of_item2*(discount_item3/100)
discount_of_item4=price_of_item2*(discount_item4/100)
discount_of_item5=price_of_item2*(discount_item5/100)
print("      billu da dhaba      ")
print("__________bill___________")
print(item1,"=",price_of_item1)
print(item2,"=",price_of_item2)
print(item3,"=",price_of_item3)
print(item4,"=",price_of_item4)
print(item5,"=",price_of_item5)
print("---------------------------")
print("Discount on",item1, "is =",discount_of_item1)
print("Discount on",item2, "is =",discount_of_item2)
print("Discount on",item3, "is =",discount_of_item3)
print("Discount on",item4, "is =",discount_of_item4)
print("Discount on",item5, "is =",discount_of_item5)
total_discount=discount_item1+discount_item2+discount_item3+discount_item4+discount_item5
print("total discount is=",total_discount)
print("total =",sum)
print("------------------------")
grand_total=sum-total_discount
if grand_total > 300:
  discount_5=grand_total*(6/100)

  print("extra 6% dicount :",discount_5)
  print("total amount to pay :",grand_total-discount_5)
else:
  print("total amount to pay",grand_total)

enter item 1=coke
enter price of item 1=40
enter the discount of item 1=4
enter item 2=chips
enter the discount of item 2=12
enter price of item 2=50
enter item 3=kurkure
enter price of item 3=25
enter the discount of item 3=4
enter item 4=dal chawal
enter price of item 4=250
enter the discount of item 4=12
enter item 5=butter chicken
enter price of item 5=250
enter the discount of item 5=18
      billu da dhaba
__________bill___________
coke = 40
chips = 50
kurkure = 25
dal chawal = 250
butter chicken = 250
---------------------------
*////////////////////////////*
      billu da dhaba
__________bill___________
coke = 40
chips = 50
kurkure = 25
dal chawal = 250
butter chicken = 250
---------------------------
Discount on coke is = 2.0
Discount on chips is = 6.0
Discount on kurkure is = 2.0
Discount on dal chawal is = 6.0
Discount on butter chicken is = 9.0
total discount is= 50
total = 615
------------------------
extra 6% dicount : 33.9
total amount to pay : 531.1

In [ ]:
# amazon cart project
Product1=input("enter Product 1=")
price_of_Product1=int(input("enter price of item 1="))
qty_Product1=int(input("Enter qty of product 1="))
discount_Product1=int(input("enter the discount of item 1="))

Product2=input("enter Product 2=")
price_of_Product2=int(input("enter price of item 2="))
qty_Product2=int(input("Enter qty of product 2="))
discount_Product2=int(input("enter the discount of item 2="))

Product3=input("enter Product 3=")
price_of_Product3=int(input("enter price of item 3="))
qty_Product3=int(input("Enter qty of product 3="))
discount_Product3=int(input("enter the discount of item 3="))

Product4=input("enter Product 4=")
price_of_Product4=int(input("enter price of item 4="))
qty_Product4=int(input("Enter qty of product 4="))
discount_Product4=int(input("enter the discount of item 4="))

Product5=input("enter Product 5=")
price_of_Product5=int(input("enter price of item 5="))
qty_Product5=int(input("Enter qty of product 5="))
discount_Product5=int(input("enter the discount of item 5="))

discount_of_Product1=price_of_Product1-(price_of_Product1*(discount_Product1/100))
discount_of_Product2=price_of_Product2-(price_of_Product2*(discount_Product2/100))
discount_of_Product3=price_of_Product3-(price_of_Product3*(discount_Product3/100))
discount_of_Product4=price_of_Product4-(price_of_Product4*(discount_Product4/100))
discount_of_Product5=price_of_Product5-(price_of_Product5*(discount_Product5/100))

total_item1=discount_of_Product1*qty_Product1
total_item2=discount_of_Product2*qty_Product2
total_item3=discount_of_Product3*qty_Product3
total_item4=discount_of_Product4*qty_Product4
total_item5=discount_of_Product5*qty_Product5

final_total=discount_of_Product1*qty_Product1+discount_of_Product2*qty_Product2+discount_of_Product3*qty_Product3+discount_of_Product4*qty_Product4+discount_of_Product5*qty_Product5
sub_total=price_of_Product1+price_of_Product2+price_of_Product3+price_of_Product4+price_of_Product5
discount_total=discount_of_Product1+discount_of_Product2+discount_of_Product3+discount_of_Product4+discount_of_Product5
total_qty=qty_Product1+qty_Product2+qty_Product3+qty_Product4+qty_Product5

print("__________________________")
print("          amazon.in       ")
print("")
print(" -----------Cart----------")
print(" ---item 1---")
print("Product name: ",Product1,"\nPrice of product: ",price_of_Product1,"\nDiscounted Price: ",discount_of_Product1,"\nQty: ",qty_Product1,"\nTotal: ",total_item1)
print(" ---item 2---")
print("Product name: ",Product2,"\nPrice of product: ",price_of_Product2,"\nDiscounted Price: ",discount_of_Product2,"\nQty: ",qty_Product2,"\nTotal: ",total_item2)
print(" ---item 3---")
print("Product name: ",Product3,"\nPrice of product: ",price_of_Product3,"\nDiscounted Price: ",discount_of_Product3,"\nQty: ",qty_Product3,"\nTotal: ",total_item3)
print(" ---item 4---")
print("Product name: ",Product4,"\nPrice of product: ",price_of_Product4,"\nDiscounted Price: ",discount_of_Product4,"\nQty: ",qty_Product4,"\nTotal: ",total_item4)
print(" ---item 5---")
print("Product name: ",Product5,"\nPrice of product: ",price_of_Product5,"\nDiscounted Price: ",discount_of_Product5,"\nQty: ",qty_Product5,"\nTotal: ",total_item5)
print("_________________________")
print("Grand total:",final_total)
print("----------------------")
print("Delivery address: House no.3,Janta nagar,\n  \t \t  Punjab,100568")

enter Product 1=iphone
enter price of item 1=150000
Enter qty of product 1=2
enter the discount of item 1=25
enter Product 2=tv
enter price of item 2=250000
Enter qty of product 2=1
enter the discount of item 2=31
enter Product 3=room light rgb
enter price of item 3=900
Enter qty of product 3=3
enter the discount of item 3=14
enter Product 4=charger
enter price of item 4=50000
Enter qty of product 4=1
enter the discount of item 4=45
enter Product 5=data cable
enter price of item 5=1900
Enter qty of product 5=1
enter the discount of item 5=13
__________________________
          amazon.in

 -----------Cart----------
 ---item 1---
Product name:  iphone
Price of product:  150000
Discounted Price:  112500.0
Qty:  2
Total:  225000.0
 ---item 2---
Product name:  tv
Price of product:  250000
Discounted Price:  172500.0
Qty:  1
Total:  172500.0
 ---item 3---
Product name:  room light rgb
Price of product:  900
Discounted Price:  774.0
Qty:  3
Total:  2322.0
 ---item 4---
Product name:  charger
Price of product:  50000
Discounted Price:  27500.0
Qty:  1
Total:  27500.0
 ---item 5---
Product name:  data cable
Price of product:  1900
Discounted Price:  1653.0
Qty:  1
Total:  1653.0
_________________________
Grand total: 428975.0
----------------------
Delivery address: House no.3,Janta nagar,
  	 	  Punjab,100568

In [ ]:
# simple intrust
principal_amt=int(input("enter principal amount:"))
rate=int(input("enter rate:"))
month=int(input("enter month:"))
days=int(input("enter days:"))
time_in_month=days/30
simple_intrest=(principal_amt*rate*month)/100
simple_intrest_days=(principal_amt*rate*time_in_month)/100
print("simple intrest is:",simple_intrest+simple_intrest_days)

enter principal amount:152642
enter rate:6
enter month:12
enter days:22
simple intrest is: 116618.48800000001

In [ ]:
# simple intrest for month having 30,31,28,29 days
principal_amt=int(input("enter principal amount:"))
rate=int(input("enter rate:"))
month=int(input("enter the month:"))
year=int(input("enter year"))
name_of_month=input("enter name month:")
if month =="jan" or month =="mar" or month =="may" or month =="july" or month =="aug" or month =="oct" or month =="dec" :
  days_in_month=31
elif month =="april" or month =="june" or month =="sept" or month =="nov":
  days_in_month=30
else:
  if year % 4 == 0 and year % 100 != 0 or year % 400 ==0:
   days_in_month=29
   print("leap year")
  else:
   days_in_month=28
   print("not a leap year")
days=int(input("enter days:"))
time_in_month=days/days_in_month
simple_intrest=(principal_amt*rate*month)/100
simple_intrest_days=(principal_amt*rate*time_in_month)/100
print("simple intrest is:",simple_intrest+simple_intrest_days)

enter principal amount:500000
enter rate:5
enter the month:12
enter year2
enter name month:feb
not a leap year
enter days:14
simple intrest is: 312500.0

In [ ]:
# traffic light direc
direction=input("Enter direction:")
light=input("green or red:")
if direction == "south" and light=="green" :
  print("open : west outgoing,north outgoing,east outgoing,south otgoing,east incoming,south incoming")
  print("close:west incoming,north incoming")
elif direction=="south" and "red":
     print("open : west outgoing,north outgoing,east outgoing,south otgoing,east incoming,north incoming")
     print("close:west incoming,east incoming")
if direction == "west" and light=="green":
  print("open : north outgoing,east outgoing,south otgoing,west outgoing,west incoming,north incoming")
  print("close:south incoming,north incoming")
elif direction == "west" and light=="red":
   print("open : west outgoing,north outgoing,east outgoing,south otgoing,east incoming,south incoming")
   print("close:east incoming,south incoming")
if direction == "north" and light=="green":
  print("open : north outgoing,east outgoing,south otgoing,west outgoing,east incoming,south incoming")
  print("close:west incoming,north incoming")
elif direction == "north" and light=="red":
   print("open : west outgoing,north outgoing,east outgoing,south otgoing,east incoming,south incoming")
   print("close:west incoming,east incoming")
if direction == "east" and light=="greem":
  print("open : north outgoing,east outgoing,south otgoing,west outgoing,east incoming,north incoming")
  print("close:west incoming,south incoming")
elif direction == "east" and light=="red":
   print("open : west outgoing,north outgoing,east outgoing,south otgoing,east incoming,south incoming")
   print("close:west incoming,north incoming")

Enter direction:south
green or red:green
open : west outgoing,north outgoing,east outgoing,south otgoing,east incoming,south incoming
close:west incoming,north incoming